/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

table
{
    text-align: center;
}

body
{
    background-color: #e3e3e1;
}

.logo-size
{
    font-size: 500%;
}

.sportle-decorators
{
    font-size: 36px;
    line-height: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 12px;
}

.sportle-decorators-nav
{
    font-size: 50px;
    line-height: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    justify-content: center;
    color: #fff;
}

.nav-logo
{
    font-size: 150%;
}

.dropdown-burger
{
    font-size: 36px;
    line-height: 38px;
    font-weight: bold;
    color: #fff;
}

.index-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.index-button
{
    position: relative;
    border: none;
    height: 3em;
    width: 180px;
    border-radius: 1.5em;
    align-content: center;
    letter-spacing: .05em;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 2em;
    background: none;
    color: #fff;
    margin: 0 10px 8px;
    font-weight: 400;
    background: none;
    color: #000;
    border: 1px solid;
    letter-spacing: .01em;
}

.play-button
{
    position: relative;
    border: none;
    height: 3em;
    width: 180px;
    border-radius: 1.5em;
    align-content: center;
    letter-spacing: .05em;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    padding: 0 2em;
    background: #000;
    color: #fff;
    margin: 0 10px 8px;
    font-weight: 400;
}

.game-description
{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 28px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24.8px;
    font-weight: bold;
}

/* Play html */
.game-board-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    display: grid;
    grid-gap: 5px;
    box-sizing: border-box;
    grid-gap: 5px;
}

tr
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 5px;
}

.headers
{
    text-align: center;
    text-decoration: underline;
    font-size: small;
    margin-right: 5px;
}

.tiles
{
    background-color: none;
    border: 2px solid black;
    color: black;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.play-form
{
    margin-top: 25px;
}