{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div>
        <div class="logo-size">
            <i class="fa-solid fa-futbol"></i>
        </div>
        <h1 class="sportle-decorators">
            Sportle
        </h1>
        <h2 class="game-description">
                Get 6 chances to
                <br>
                guess a sports team.
        </h2>
    <div class="index-buttons">
        <div class="row">
            <div class="col">
                <form action="/register" method="post">
                    <button class="index-button">Register</button>
                </form>
            </div>
            <div class="col">
                <form action="/login">
                    <button class="index-button">Log In</button>
                </form>
            </div>
            <div class="col">
                <form action="/play" method="post">
                    <button class="play-button" type="submit">Play</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}