{% extends "layout.html" %}

{% block title %}
    Play
{% endblock %}

{% block script %}
    <script>
        const serverData = {{ random_team | tojson | safe }};
        console.log('Data received from backend:', serverData)
    </script>
{% endblock %}

{% block nav %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fas fa-futbol nav-logo"></i></a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active sportle-decorators-nav" aria-current="page">Sportle</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars dropdown-burger"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="changePassword">Change Password</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block main %}
    <div id="titles">
        <span class="title-class">Sport</span>
        <span class="title-class">Region</span>
        <span class="title-class">Country</span>
        <span class="title-class">League</span>
        <span class="title-class">Team</span>
        <span class="title-class-guess">Guesses</span>
    </div>
    <div id="board">

    </div>
    <br>
    <div class="answerForm">
        <form action="/user_answer" method="get">
            <div class="mb-3">
                <select class="form-control mx-auto w-auto" id="userAnswer" name="user_answer" placeholder="Team Name" type="text">
                    {% for team in teams %}
                    <option value="{{ team.teamName }}">{{ team.teamName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>


    <h1>{{ random_team }}</h1>


{% endblock %}