{% extends "quote.html" %}

{% block title %}
    Quote
{% endblock %}

{% block quote %}
    <br>
    <table class="table table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Symbol</th>
        </tr>
        <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ '${:,.2f}'.format(price) }}</td>
                <td>{{ symbol }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}